{% extends 'aplicacion/baseusuarios.html' %}
{% load static %}
{% block contenido %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="row mt-3">
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/bici2.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Bicicleta Jeep</h4>
                    <p class="card-text">$700.000</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/bici3.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Bicicleta Zoo York</h4>
                    <p class="card-text">$700.500</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/bici4.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Bicicleta Trek</h4>
                    <p class="card-text">$500.000</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/guantes.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Guantes Rockbros</h4>
                    <p class="card-text">$12.000</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/guantes2.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Guantes Fox</h4>
                    <p class="card-text">$20.000</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    
        <div class="col-sm-4">
    
            <div class="card">
                <img class="card-img-top" src="{% static 'aplicacion/img/bici.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Bicicleta Atletis</h4>
                    <p class="card-text">$600.000</p>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
    
        </div>
    </div>

</body>
</html>

{% endblock contenido %}


